.hourlyCard {
  max-height: 140px;
  max-width: 410px;
  display: flex;
  overflow-x: scroll;
  overflow-y: scroll;
  scrollbar-width: none;
  margin: 0 auto;
}

.hourlyCard ::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

.parameters {
  user-select: none;
  min-width: 100px;
  height: 135px;
  line-height: 20px;
  text-align: center;
  margin-right: 5px;
  background-color: #363b3552;
  padding: 12px 0px;
  border-radius: 10%;
}

.image {
  display: inline;
}

@media screen and (min-width: 1100px) {
  .hourlyCard {
    max-width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 1rem;
    max-height: 150px;
    .parameters {
      user-select: none;
      min-width: 85px;
      height: 150px;
      line-height: 20px;
      text-align: center;
      background-color: #363b3552;
      padding: 12px 0px;
      border-radius: 10%;
      margin-right: 0;
    }
  }
  .line {
    width: inherit;
    height: 1px;
    background-color: rgb(118, 117, 117);
    margin: 5px 10px 5px 10px;
  }
  .temp {
    margin: 5px 0px 5px 0px;
  }
}
