.main {
  text-align: center;
  padding: 1.5rem;
  margin-bottom: 2rem;
  min-width: 330px;

  p {
    color: rgb(197, 196, 196);
  }
  h3 {
    font-size: 1.5rem;
  }
}

.temp {
  font-size: 3rem;
  line-height: .7;
  font-weight: 600;
}

.description {
  font-size: 2rem;
  margin-bottom: 5rem;
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

.leftFlexbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.rightFlexbox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.line {
  width: 100%;
  height: 1px;
  background-color: rgb(118, 117, 117);
  margin: 20px 0px;
}

.rightMargin {
  margin-right: 5px;

}

@media screen and (max-width: 370px) {
  .rightMargin {
    display: none;
  }
}
