@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

$font-family: Josefin Sans, sans-serif;

.main {
  min-height: 100vh;
  width: 100%;
  text-align: center;
  font-family: $font-family;
}

.date {
  position: absolute;
  top: 2rem;
}

.searchBox {
  padding-top: 2rem;
  max-width: fit-content;
  height: fit-content;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.searchBoxScreen {
  padding-top: 1rem;
  max-width: fit-content;
  height: fit-content;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.inputSearch {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: #2b2a2f13;
  padding-right: 40px;
  color: #fff;
}
.inputSearch::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btnSearch {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}
.btnSearch:focus ~ .inputSearch {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.inputSearch:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

@media screen and (min-width: 800px) {
  .frame {
    padding: 0rem;
    max-height: 100vh;
  }

  .main {
    font-size: 120%;
  }

  .rowFlex {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 2rem;
    padding-bottom: 2rem;
    min-height: 400px;

    .hourlyScreen {
      align-self: center;
    }
  }

  .leftFlex {
    display: flex;
  }

  .rightBox {
    width: 100%;
    background-color: #595a5933; //#595a5933;
    padding: 2rem;
    max-height: 100vh;
    overflow: auto;
    min-height: 400px;
  }

  .searchBoxScreen {
    padding: 1rem 0;
  }

  .searchBox {
    display: none;
  }

  .lineScreen {
    width: 100%;
    height: 1px;
    background-color: rgb(118, 117, 117);
    margin: 35px 0px;
  }

  .temp {
    font-size: 4.5rem;
  }

  .wind {
    font-size: 1.3rem;
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: rgb(118, 117, 117);
    margin: 40px 0px;
  }

  .date {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 800px) {
  .main {
    background: linear-gradient(#e49328 10%, #393984, #010101);
    padding-bottom: calc(20px + env(safe-area-inset-bottom));
  }
  .topElement {
    display: none;
  }
  .date {
    display: none;
  }
}
